@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

body {
    background-color: #151515;
    margin: 0px;
    overflow: hidden;
    animation: fadeIn 1s;
}

.maindiv {
    text-align: center;
    color: #f0f0f0;
    font-family: 'Rubik', sans-serif;
}

.nav {
    height: 100vh;
    width: 100%;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    font-size: 28;
}

button {
    font-family: "Roboto Mono", monospace;
    border: none;
    color: #f0f0f0;
    background: #7899d4;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
    z-index: 69;
    transition: .4s;
}

button:hover {
    transform: scale(1.3);
    cursor: pointer;
    color: #7899d4;
    background: #f0f0f0;
}

#menu {
    height: 100vh;
    display: flex;
    align-items: center;
}

.menu-item {
    color: #f0f0f0;
    font-size: clamp(3rem, 8vw, 8rem);
    font-family: "Rubik", sans-serif;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5w, 1rem) 0rem;
    transition: opacity 400ms ease;
}

#menu-items {
    margin-left: clamp(4rem, 20vw, 48rem);
    position: relative;
    z-index: 2;
}

#menu-items:hover > .menu-item {
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
    opacity: 1;
}

#menu-background-pattern {
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.1) 9%, 
      transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    height: 100vh;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease, 
      background-size 800ms ease,
      background-position 800ms ease;
    width: 100vw;
    z-index: -1;
  }

#menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

#menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;
}
  
#menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;
}
  
#menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -75%;
}
  
#menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -100%;
}

#skills__content > h3 {
    margin: 0;
    font-size: 24px;
}

#skills__content {
    padding-left: 33%;
    padding-right: 33%;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    margin: auto;
}
.skill-grid i {
    border-radius: 1rem;
    display: block;
    padding: 0.25rem;
    margin: auto;
    width: 64px;
    height: 64px;
    font-size: 48px;
}
.skill-grid {
    padding: 0.25rem;
    border-radius: 1rem;
}
.skill-grid > div {
    margin: 0.25rem;
    padding: 0.2rem;
    color: #f0f0f0;
}

#mobile_content {
    display: none;
    font-size: 24px;
}

#social {
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    margin: auto;
    width: clamp(15%, 20%, 50%);
    padding: 20px;
    border-radius: 15px;
}

@media (max-width: 767px) {
    #skills__content {
        display: none;
    }
    #mobile_content {
        display: block;
    }
    #social {
        width: 50%;
    }
}

@media (max-width: 1920px) {
    #skills__content {
        padding-left: 20%;
        padding-right: 20%;
    }
}